*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10px;
}

.flex-div{
    display: flex;
    align-items: center;
}

.nav-left .menu{
    margin-right: 25px;
    width: 22px;
}
.nav-left .logo{
    width: 130px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px; 
}
.nav-right .user{
    border-radius: 50px;
    width: 35px;
}
.nav-middle{
    display: flex;
}
.search-box{
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 8px 12px;
    margin-right: 15px;
}
.search-box input{
    width: 400px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    background: transparent;
}
.search-box img{
    width: 15px;
}
.nav-middle .voice{
    width: 15px;
}
/* sidebar */
a{
    text-decoration: none;
    text-transform: capitalize;
    color: #5a5a5a;
}
.sidebar{
    position: fixed;
    width: 15%;
    background: #fff;
    height: 100vh;
    top: 1;
    padding-top: 20px;
    padding-left: 2%;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: fit-content;
}
.shortcut-links a:first-child{
    color: #ed3833;
}
.shortcut-links hr{
    width: 125px;
    height: 1px;
    border: 0;
    background: #ccc;
}
.sidebar-list h3{
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 0;
    color: #5a5a5a;
}
.sidebar-list a{
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 12px;
    flex-wrap: wrap;
}
.sidebar-list a img{
    border-radius: 50px;
    width: 25px;
    margin-right: 15px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar  p{
    display: none;
}
.small-sidebar  h3{
    display: none;
}

/* main-content */

.main{
    background-color: #f9f9f9;
    padding: 20px 2% 20px 17%;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;

}
.list-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    /* gap: 20px; */
    margin-top: 15px;

}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;

}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .flex-div img{
    border-radius: 50px;
    width: 30px;
    margin-right: 10px;
}
.vid-info{
    color: #5a5a5a;
    font-size: 13px;
}
.vid-info a{
    color: #000;
}
.vid-list p{
    text-transform: capitalize;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
.large-main{
    padding-left: 7%;
}
@media (max-width: 900px){
    .menu{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .main, .large-main{
        padding-left: 5%;
        padding-right: 5%;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user{
        display: block;
        width: 30px;
    }
    
    .nav-middle .search-box input{
        width: 100px;
    } 
    .nav-left .logo{
        width: 90px;
    }
    .voice{
        display: none;
    }

    /* play video */
    .play-main{
        padding-left: 5px;
    }
    .play-video{
        flex-basis: 100%;
    }
    /* .right-sidebar{
        flex-basis: 100%;
    } */
    .vid-description{
        padding-left: 0;
    }
    .play-video .play-video-info a{
        margin: 15px 15px 0 0;
    }
}


/* play video page */
.play-main{
    padding-left: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}

.play-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.play-video .tags a{
    color: #0000ff;
    font-size: 13px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
}
.play-video .play-video-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 10px;
}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 10px;
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px, 0;
}

.publisher{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.publisher img{
    width: 40px;
    border-radius: 50px;
    margin-right: 15px;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher div p{
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 18px;
}
.publisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publisher button{
    background: red;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;
}
.vid-description{
    padding-left: 55px;
    margin: 15px 0;

}
.vid-description p{
    color: #5a5a5a;
    font-size: 14px;
    margin-bottom: 8px;
}
.vid-description h4{
    font-size: 14px;
    margin-top: 15px;
    color: #5a5a5a;
}
.add-comment{
    display: flex;
    align-items: center;
}
.add-comment img{
    width: 35px;
    border-radius: 50px;
    margin-right: 10px;
}
.add-comment input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    outline: 0;
    padding-top: 10px;
    background: transparent;
}
.old-comments{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comments img{
    width: 35px;
    border-radius: 50px;
    margin-right: 15px;
}
.old-comments h3{
    font-size: 14px;
    margin-bottom: 5px;
}
.old-comments h3 span{
    font-size: 10px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comments p{
    color: #5a5a5a;
    font-weight: 500;
    font-size: 14px;
}
.comment-action{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.comment-action img{
    width: 20px;
    margin: 5px 0;
}
.comment-action span{
    align-items: center;
    color: #5a5a5a;
    padding: 5px 10px;
    margin-right: 20px;
}
.comment-action a{
    color: #0000ff;
}